<% provide(:title, "エマーソン") %>

<p>
  あなた自身を主張せよ。決して人真似するな。
</p>
<p>
  あなたの生まれながらの才能を、全生涯かけて蓄積してきた力とともに一度に発揮しよう。
</p>
<p>
  だが人の才能の受け売りは、一時的な中途半端なものでしかない。
</p>
<p>  
  各人がどこまで能力を発揮できるかは、神のみが知っている。
</p>