<% provide(:title, "偉人の言葉") %>
<h1>名言集</h1>
<p>  
  <a href="http://localhost:3000/static_pages/about">ラルフ・ワルド・エマーソン</a>
  <p>
    <a href="http://localhost:3000/static_pages/contact">セオドア・ルーズヴェルト</a>
  </p>
  <p>
    <a href="http://localhost:3000/static_pages/dare">デール・カーネギー</a>
  </p>
</p>